
* {
  font-family: 'helvetica';
}

body {
  width: 960px;
  height: 1024px;
  background: linear-gradient(to bottom right, #fff, #ddd);
  font-family: 'helvetica';
}

header {
  width: 960px;
  height: 60px;
  position: relative;
}

h1 {
  position: absolute;
  bottom: 8px;
  left: 240px;
  color: #E2600D;;
  font-size: 20px;
}

a {
  font-size: 14px;
  font-style: none;
  text-decoration: none;
  color: #E2600D;;
  position: absolute;
  bottom: 8px;
  right: 250px;
}

.spacer {
  height: 6px;
  width: 480px;
  position: absolute;
  bottom: 0;
  left: 240px;
  background-color: #E2600D;;
  border-radius: 2px;
}

main {
  width: 960px;
}

section {
  height: 30px;
  width: 480px;
  padding: 30px;
  margin: 80px auto;
  border: solid 3px #E2600D;
  border-radius: 2px;
  transition: 350ms;
}

.fight {
  height: 180px;
}

input {
  height: 30px;
  width: 180px;
  border: solid 1px #E2600D;
  border-radius: 2px;
}

form {
  position: relative;
}

fieldset {
  display: inline-block;
}

#twitOne {
 position: absolute;
 top: 0;
 left: 0;
 transition: 350ms;
}

#twitTwo {
  position: absolute;
  top: 0;
  right: 0;
  transition: 350ms;
}

#toggler {
  width: 90px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 195px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background: #E2600D;
}

.active {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  background: none;
  border: none;
}

.show {
  width: 460px;
  height: 30px;
  margin-top: 30px;
}

.winner {
  font-weight: bold;
  color: #111;
  text-shadow: 1px 1px .5px #ddd;
}

.loser {
  opacity: .5;
  color: #ddd;
}

/*.fade_in {
  animation: fadein 350ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/
