
* {
  font-family: 'helvetica';
}

.diamond_plate {
  height: auto;
  width: 760px;
  position: absolute;
  margin-left: 235px;
}

html {
position: relative;
}

.bgframe {
  position: absolute;
}

body {
  position: fixed;
  margin: auto;
  width: 960px;
  height: 1024px;
  font-family: 'helvetica';

}

.refresh {
  margin-top: 110px;
  margin-left: 195px;
  color: #e2600d;
  background-color: inherit;
}

.fighter {
  height: 100px;
  width: 260px;
  margin-top: 20px;
  margin-left: 340px;
  position: fixed;
  z-index: 100000;
}

header {
  margin-left: 130px;
  width: 980px;
  height: 107px;
  position: relative;
}

h1 {
  position: absolute;
  bottom: 8px;
  left: 240px;
  color: #E2600D;;
  font-size: 20px;
}

a {
  font-size: 14px;
  font-style: none;
  text-decoration: none;
  color: #E2600D;;
  position: absolute;
  bottom: 8px;
  right: 250px;
}

.spacer {
  height: 6px;
  width: 500px;
  position: absolute;
  bottom: 0;
  left: 240px;
  background-color: #E2600D;;
  border-radius: 2px;
}

main {
  position: relative;
  height: 270px;
  width: 570px;
  margin-left: 330px;
}

section {
  height: 30px;
  width: 480px;
  padding: 30px;
  margin: 80px auto;
  border: solid 3px #E2600D;
  border-radius: 2px;
  transition: 350ms;
}

.expand {
  height: 210px;
}

input {
  height: 30px;
  width: 180px;
  border: solid 1px #E2600D;
  border-radius: 2px;
}

form {
  position: relative;
}

fieldset {
  display: inline-block;
}

#twitOne {
 position: absolute;
 top: 0;
 left: 0;
 display: inline-block;
 transition: 350ms;
}

#twitTwo {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  transition: 350ms;
}

#toggler {
  width: 90px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 195px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  background: #E2600D;
}

.center {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  background: none;
  border: none;
}

.show {
  width: 480px;
  height: 180px;
  margin-top: 10px;
  text-align: center;
}

#cal_title {
  opacity: 0;
  transition: 350ms;
  position: absolute;
  top: 40px;
  left: 170px;
  font-size: 12px;
  color: #888;
}

#calendar {
  position: absolute;
  top: 48px;
  left: 106px;
}

.expand #cal_title {
  transition: 500ms;
  opacity: 1;
}

.show span {
  width: 202px;
  height: 30px;
  margin-top: 30px;
  display: inline-block;
  float: left;
  transition: 350ms;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 22px 22px 0 22px;
  border: none;
  display: inline-block;
  float: left;
  transition: 350ms;
}


.winner {
  font-weight: bold;
  color: #111;
  text-shadow: 1px 1px .5px #ddd;
}

.loser {
  opacity: .75;
  color: #888;
}

.grand_winner {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  background: none;
  border: none;
  text-shadow: 1px 1px .5px #ddd;
  color: #E2600D;
}

.grand_loser {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  background: none;
  border: none;
  opacity: .75;
  color: #888;
}

/*.fade_in {
  animation: fadein 350ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/
