main {
  width: 960px;
  margin: 0px auto;
  background: black;
  color: white;
}

.floatclear {
  clear: both;
}

section {
  float: left;
  width: 960px;
  background: black;
  color: white;
}

fieldset {
  width: 400px;
}

ul {
  float: left;
  width: 400px;
}
